<!DOCTYPE html>
<html lang="en">
  <components:head />
  <body>
    <article>
      <if page:kw:title>
        <h1><page:kw:title/></h1>
      </if>
      <if page:kw:subtitle>
        <p class="subtitle"><page:kw:subtitle/></p>
      </if>
      <div class="meta">
        <page:tags>
          <span class="page-tag"><tag /></span>
        </page:tags>
      </div>
      <section>
        <page:children />
      </section>
      <page:sections />
      <hr />
      <!-- <page:backlinks>
           <h3>References to this page (<backlinks:number />):</h3>
           <backlinks:entries>
           <div class="backlink">
           <a href="!(backlink:route)">
           <backlink:title />
           </a>
           <div onclick="event.preventDefault(); location.href='!(backlink:route)'">
           <backlink:excerpt />
           </div>
           </div>
           </backlinks:entries>
           <else />
           <i>No other pages reference this page.</i>
           </page:backlinks> -->
    </article>
    <components:footer />
  </body>
</html>
