/* CSS related to Organon features */

img[src^="data:image/svg+xml;base64"] {
  width: unset;
}

figure > img[src^="data:image/svg+xml;base64"] {
  margin: 0 auto;
  display: block;
}

@media (prefers-color-scheme: dark) {
  img[src^="data:image/svg+xml;base64"] {
    filter: invert();
  }
}

/* KaTeX */

.katex {
  font-size: 1.1em !important;
}
section > div.math {
  width: 55%;
  font-size: 1.2em;
}
@media (max-width: 760px) {
  section > div.math {
    width: 100%;
  }
}
