@font-face
{
  font-family : "Twemoji Mozilla";
  src         : url("https://xem.github.io/unicode13/Twemoji.ttf")format("truetype");
}

@font-face
{
  font-family : "victor mono";
  src         : url("/assets/fonts/VictorMono-Medium.woff2")format("woff2");
}

*
{
  margin : 0px 0px 0px 0px;
}

#fundo
{
  width  : 100%;
  height : 100%;
}

html
{
  height : 100%;
}

hr
{
  transition-property : background-color;
  transition-delay    : 0.2s;
}

body,
pre
{
  transition-property : background;
  transition-delay    : 0.2s;
}

img[src='svg']
{
  transition-property : filter;
  transition-delay    : 0.4s;
}

.center
{
  text-align : center;
}

body
{
  background       : #fffdf8;
  scroll-behaviour : smooth;
}

a
{
  text-decoration : none;
  font-weight     : 400;
}

a:link,
a:visited,
a:hover
{
  color : rgba(0,0,0,0.8);
}

.block
{
  display        : inline-block;
  max-width      : 340px;
  margin-right   : 40px;
  vertical-align : top;
}

aside
{
  font-size  : 85%;
  color      : #777777;
  font-style : italic;
}

#main
{
  position      : relative;
  width         : 90%;
  max-width     : 800px;
  min-height    : 80vh;
  padding-left  : 5%;
  padding-right : 5%;
  top           : 40px;
  margin        : 0px auto 0px auto;
}

#main li::marker
{
  font-weight : 500;
}

#main ul,
#main ol
{
  margin       : 8px 0px 8px 0px;
  padding-left : 20px;
  line-height  : 1.3em;
}

#main ol li,
#main ul li
{
  margin-bottom : 0.4em;
}

#main table
{
  width        : 80%;
  margin-left  : auto;
  margin-right : auto;
}

#main h1
{
  font-size      : 40px;
  font-weight    : normal;
  letter-spacing : -0.20001px;
}

#main h2
{
  font-size   : 32px;
  margin-top  : 20px;
  font-weight : 500;
}

#main h2 a:link,
#main h2 a:visited
{
  color : #000000;
}

#main h2 a:hover
{
  color : #5a5a5a;
}

#main h3,
#main h4,
#main h5,
#main h6
{
  margin-top  : 10px;
  font-weight : 500;
}

#main h3
{
  font-size : 28px;
}

#main h4,
#main h5,
#main h6
{
  font-size : 26px;
}

#main blockquote
{
  font-style : italic;
  margin     : 1em 3em 1em 3em;
}

#main code,
#main pre
{
  font-family : "victor mono", monospace;
  line-height : 1.2;
}

#main code
{
  font-size : 83%;
}

#main .linenumber
{
  display      : inline-block;
  color        : #999999;
  width        : 20pt;
  margin-right : 10px;
  text-align   : right;
}

#main .coderef
{
  float : right;
}

#main .coderef-target:target
{
  background-color : #ffffaa;
}

#main pre.example,
#main pre.code
{
  font-size     : 83%;
  margin        : 0.29999em 0em 0.29999em 0em;
  border-radius : 1em 1em 1em 1em;
}

#main pre.example code,
#main pre.code code
{
  font-size : unset;
}

#main img
{
  margin-left  : auto;
  margin-right : auto;
  max-width    : 100%;
}

#main p > img
{
  vertical-align : bottom;
  margin         : 0px 3px 0px 3px;
}

#main p img:only-child
{
  display      : block;
  margin-left  : auto;
  margin-right : auto;
}

#main figure img
{
  display : block;
}

#main dt
{
  float        : left;
  clear        : left;
  margin-right : 5px;
  font-weight  : 500;
  background   : #f5f5dc;
  color        : rgba(0,0,0,0.8);
}

#main dl
{
  margin-left   : 1em;
  margin-top    : 0.5em;
  margin-bottom : 0.5em;
}

#main dd
{
  margin-left   : 20px;
  margin-bottom : 0.4em;
}

#main p
{
  margin-top    : 10px;
  margin-bottom : 10px;
  line-height   : 1.39999em;
}

#main a:link,
#main a:visited
{
  text-decoration : underline;
}

#main b,
#main strong
{
  font-weight : 500;
}

#main figcaption
{
  text-align : center;
}

#main hr
{
  border-color : #ffffff;
  width        : 70%;
  margin       : 4em auto 4em auto;
}


.dark-mode button
{
  width         : 30px;
  height        : 30px;
  display       : inline;
  padding-left  : 1px;
  padding-top   : 1px;
  border-color  : rgba(0,0,0,0.0);
  border-radius : 50% 50% 50% 50%;
  background    : none;
}

.dark-mode button:hover
{
  background : rgba(204,204,204,0.2);
}

body
{
  font-family    : "Crimson Pro","Twemoji Mozilla","Noto Color Emoji","times", serif;
  color          : #333333;
  font-size      : 19.5px;
  font-weight    : 300;
  text-rendering : optimizeLegibility;
  font-kerning   : normal;
}

header
{
  margin-bottom : 28px;
}

.page-foot
{
  font-size   : 70%;
  font-family : "Arial", sans-serif;
  color       : #a6a2a0;
  text-align  : center;
  margin      : 6em 1em 6em 1em;
  line-height : 2em;
}

button
{
  background      : none;
  cursor          : pointer;
  color           : #a6a2a0;
  border-style    : none;
  text-decoration : underline;
}

span.math
{
  letter-spacing : -10px;
  visibility     : hidden;
}

span.math .katex
{
  letter-spacing : 0px;
  visibility     : visible;
  overflow-x     : auto;
  overflow-y     : hidden;
}

.csl-left-margin
{
  display : inline;
}

.csl-right-inline
{
  display : inline;
}


.dark body
{
  background : #171716;
  color      : #ffffff;
}

.dark a:link,
.dark a:visited
{
  color : #eeff9d;
}

.dark .blog-name a
{
  color : #f5e7e3;
}

.todokw,
.priority
{
  font-weight : bold;
}

.todokw.todo
{
  color : #ff4500;
}

.todokw.done
{
  color : #008000;
}

.priority.A
{
  color : #ff4500;
}

.priority.B
{
  color : #f0c674;
}

.priority.C
{
  color : #90a652;
}

@media only screen and (min-width: 600px)
{

section
{
  border-left  : 2px solid rgba(243,241,236,13.0);
  padding-left : 15px;
}

}
